<%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post, data: { turbo: false }) do |f| %>
  <h1 class="text-4xl font-bold text-white text-center">Login</h1>

  <div class="flex flex-col items-center mt-4">
    <div>
      <%= f.email_field :email, placeholder: "Email", style: "width: 250px;", class: "px-4 py-2 rounded-md bg-white text-gray-900 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500 my-4" %>
    </div>

    <div>
      <%= f.password_field :password, placeholder: "Contraseña", style: "width: 250px;", class: "px-4 py-2 rounded-md bg-white text-gray-900 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
    </div>

    <div class="mt-4" style="margin-top: 2rem;">
      <%= f.submit "Iniciar sesión", style: "width: 250px;", class: "px-4 py-2 bg-blue-500 text-white rounded-md" %>
    </div>
  </div>
<% end %>
