<div class="min-h-screen flex flex-col justify-between bg-gradient-to-b from-blue-900 to-blue-700 text-white">

  <div class="flex flex-col items-center justify-center flex-grow text-center p-6">
    <h1 class="text-4xl font-bold">Logueado!</h1>
    <p class="mt-4">A simple budgeting app</p>
  </div>

</div>
