<h1>Bienvenido a Finanzas Personales</h1>
<p>Por favor, inicia sesión para acceder a la aplicacion.</p>

<%= render "modal/modal", modal_id: "loginModal" do %>
  <%= render "modal/login_form" %>
<% end %>
